#header {
    width: 100%;
    height: 48px;
    background-color: black;
    z-index: 1;
}
#nav li {
    display: inline-block;
}
#nav li a {
    color: #fff;
    display: block;
    line-height: 48px;
    text-decoration: none;
    padding: 0 24px ;
}
#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}
#nav .subnav-men {
    display: none;
}
/* #nav .subnav-women {
    display: none;
} */
#slider {

}
#contact {

}
#footer {

}